{
  "parserOptions": { "ecmaVersion": 6 },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "semi": "off",
    "quotes": "off"
  }
}
